$color-primary: #44e5e7;
$color-primary-light: #0e2e2e;
$color-primary-dark: #061212;

$color-shadow: #44e5e74d;
$color-text: #c7f7f8;
$color-text-2: #ecfcfd;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
