.about {
  @include primary-theme;
  margin: 0 auto;
  padding: 0 0 7.8rem;

  @include respond(phone) {
    @include mobile-pad;
  }

  & h1 {
    @include respond(phone) {
      text-align: left;
    }
  }

  & .fact {
    @include respond(phone) {
      display: none;
    }
  }

  &-fact {
    border-bottom: 0.1rem solid;
  }

  &-btns {
    display: flex;
    justify-content: center;
    gap: 1.2rem;

    @include respond(phone) {
      flex-direction: column;
      gap: 1.6rem;
    }

    &-right {
      display: flex;
      gap: 1.2rem;

      @include respond(phone) {
        width: 100%;
      }
    }

    &-left {
      display: flex;
      gap: 1.2rem;

      @include respond(phone) {
        width: 100%;
      }
    }
  }

  &-description {
    width: 82.6rem;

    @include respond(phone) {
      width: 100%;
    }

    &-box {
      


      & .description-container {
        display: flex;
        justify-content: space-between;
        
          &:not(:last-child){
          padding-bottom: 1.6rem;
          }

        & .description-items {
          display: flex;
          gap: 2.2rem;
          align-items: center;

        

          @include respond(phone) {
            width: 70%;
          }
          & img {
            padding: 1.6rem;
            border: 0.2rem solid $color-text;
            border-radius: 1.5rem;
          }
        }
      }

      & .description-text {
        padding-inline: 8rem;

        @include respond(phone) {
          padding-inline: 0;
        }
      }
    }
  }
}
