.heading {
  @include secondary-thene;


  @include respond(phone) {
    @include mobile-pad;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
    @include Hpad;

    @include respond(tab-port) {
      flex-direction: column;
      row-gap: 4.8rem;
      padding: 9.6rem 0;
    }
  }

  &-image {
    margin-left: auto;

    @include respond(tab-port){
      margin: 0 auto;
    }

    @include respond (phone){
      margin: 0;
    }

    & .img-heading {
      width: 49rem;
      @include respond(phone) {
        margin: 0 auto;
        width: 90%;
        height: auto;
      }
    }
  }

  &-description{
   
    @include respond(phone){
      margin-bottom: 4.8rem;
    }
  }

  &-trust {
    display: flex;
    gap: 1.6rem;
    align-items: center;
    padding-left: 10rem;
    @include respond(phone) {
      flex-direction: column;
      padding-left: 2.4rem;
      align-items: normal;
    }

    &-text {
      opacity: 0.8;
      //font-weight: 300;
    }

    &-image {
      display: inline-block;

      @include respond(phone) {
        display: block;
      }

      & > img {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 5rem;
        border: 0.2rem solid $color-text;
        margin-left: -1.5rem;
      }
    }
  }
}
