.organization {
  @include Sectpad;
  @include secondary-thene;

  @include respond(phone) {
    @include mobile-pad;
  }

  & h1{
    @include respond(phone){
      text-align: normal;
    }
  }

  & .charge {
    color: $color-primary;
  }

  &-container {
    display: flex;
    align-items: center;
    padding-top: 11.2rem;

    @include respond(phone) {
      flex-direction: column-reverse;
      row-gap: 4rem;
      text-align: normal;
    }

    &.reminder {
      @include respond(phone) {
        flex-direction: column;
      }
    }
  }

  /* SAMRT ORGANIZATION */

  &-image {
    margin-right: 10rem;

    @include respond(phone) {
      margin-right: 0;
    }

    & img {
      width: 50rem;

      @include respond(phone) {
        width: 100%;
      }
    }
  }

  /* CONTEXTUAL REMINDER */

  &-contextual-image {
    width: 100%;
    margin-left: 10rem;

    @include respond(phone) {
      margin-left: 0;
    }

    & img {
      width: 50rem;

      @include respond(phone) {
        width: 100%;
      }
    }
  }
}
