.sponsor {
  // padding: 11.2rem 10rem;
  @include primary-theme;
  @include Sectpad;

  @include respond(phone) {
    @include mobile-pad;
  }

  &-image {
    display: block;
    @include respond(phone) {
      display: flex;
      width: 100%;
      justify-content: space-between;
      justify-items: center;
    }

    &-dept {
      display: flex;
      justify-content: space-between;

      @include respond(phone) {
        flex-direction: column;
        gap: 7.4rem;
        height: 100%; 
      }
      

      & > img {
        width: 16rem;
        height: 4rem;

        @include respond(phone) {
          width: 80%;
          
          
        }
      }
    }
  }
}
