.testimonials {
  @include secondary-thene;
  @include Sectpad;

  @include respond(phone) {
    @include mobile-pad;
  }

  &-text {
    display: block;
    text-align: center;
    width: 70%;
    @include respond(tab-port) {
      width: 100%;
    }

    & a {
      display: flex;
      justify-self: center;
      margin-bottom: 2.4rem;

      @include respond(phone) {
        margin-bottom: 3.2rem;
      }
    }

    & h1 {
      margin-bottom: 2.4rem;

      @include respond(phone) {
        margin-bottom: 1.6rem;
      }
    }

    & p {
      width: 75%;
      margin: 0 auto;
      @include respond(tab-port) {
        width: 100%;
      }
    }
  }

  &-description {
    display: flex;
    justify-self: center;
    gap: 2.4rem;
    padding: 8rem 0;
    

    @include respond(tab-port) {
      flex-direction: column;
    }

    & .testimony {
      background: $color-primary-light;
      padding: 4rem 3.2rem;
      border-radius: 1rem;
      width: 36.7rem;

      @include respond(phone) {
        width: 100%;
      }
    }
  }

  &-box {
    & .rate {
      display: flex;
      gap: 0.4rem;
    }

    & p,
    & small{
      opacity: .8;
    }

    & .person-box {
      display: flex;
      align-items: center;
      gap: 2.4rem;

      & img {
        width: 7.2rem;
        border-radius: 5rem;
      }

      & h3 {
        color: $color-primary;
      }
    }
  }
}
