*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  @include primary-theme;
}


a:link,
a:visited {
  text-decoration: none;
  text-transform: capitalize;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  background: $color-primary-dark;
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background: $color-primary-light;
  border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-primary;
}
