@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: poppins, sans-serif;
  color: $color-text-2;
}

.bold {
  font-weight: 600;
}

.semi-bold {
  font-weight: 500;
}

.light-bold {
  font-weight: 300;
}

.opacity{
  opacity: .8;
}


.large-heading {
  font-size: 6rem;
  font-weight: 600;
  line-height: 7.5rem;
  letter-spacing: -0.3rem;

  @include respond(phone){
    font-size: 4rem;
    line-height: 5rem;
  }
}
 
.big-heading {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.6rem;
  letter-spacing: -0.2.4rem;
  text-transform: capitalize;

   @include respond(phone){
    font-size: 3.5rem;
    line-height: 3.4rem; 
  
  }
}

.primary-heading {
  text-transform: capitalize;
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: -0.6px;
  color: $color-primary-light;

   @include respond(phone){
    font-size: 2rem;
  }
}

.normal-font {
  font-size: 2rem;
  line-height: 4rem;

 @include respond(phone){
    font-size: 1.8rem;
  }
}

.style-color {
  color: $color-primary;
}

.nav-font {
  font-size: 1.8rem;
  line-height: 3.2rem;

   @include respond(phone){
    font-size: 2rem;
  }
}

.medium-font {
  font-size: 1.5rem;

}
