.footer { 
  @include primary-theme;
  @include Sectpad;

  display: flex;
  justify-content: space-between;

  @include respond(phone) {
    @include mobile-pad;
    flex-direction: column;
    justify-content: normal;
    gap: 7.2rem;
  }

  &-items {
    display: flex;
    gap: 9.6rem;

    @include respond(phone) {
      row-gap: 5.6rem;
      column-gap: 1.6rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-list {
    display: block;

    & ul {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }

    & a {
      color: inherit;
    }
  }
}
